@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --white: #{$white};
    --lightGrayish: #{$lightGrayish};
    --darkGrayish: #{$darkGrayish};
    --veryDarkViolet: #{$veryDarkViolet};
    --red: #{$red};
    --linearGradient1: #{$linearGradient1};
    --linearGradient2: #{$linearGradient2};
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    font-size: $bodyFont;
    padding: 2rem;



    @include breakpoint-down(small){
        min-height: 100vh;
        padding: 2rem 1rem;
    }


}

.container {
    width: 71.25rem;
    margin: 0 auto;
    border: 2px solid yellow;


    @include breakpoint-down(large){
        width: 100%;
    }

    @include breakpoint-down(medium){
        width: 100%;
    }

    @include breakpoint-down(small){
        width: 100%;
        padding-inline: unset;
    }
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-fe {
        justify-content: flex-end;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }

    &-row-col {
        @include breakpoint-down(small){
            flex-direction: column;
        }
    }

    &-reverse {
        flex-direction: column;
        @include breakpoint-down(small){
            flex-direction: column-reverse;
        }
    }
}

h1 {
    color: $veryDarkViolet;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 1rem;
}

::placeholder {
    color: var(--darkGrayish);
}

input,button,::placeholder,label {
    font-family: inherit;
    font-size: $bodyFont;
}

label {
    color: $veryDarkViolet;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

input {
    display: inline-block;
    height: 2.9375rem;
    width: 100%;
    font-size: $bodyFont;
    padding-inline: 1rem;
    border-image-source: linear-gradient(to right, $linearGradient1, $linearGradient2);
    border-radius: 8px;
    color: $veryDarkViolet;
    border: 1px solid $lightGrayish;
    outline: none;

    @include breakpoint-down(small){
        padding-inline: .5rem;
    }

    &:focus {
        border: 1px solid #21092f;
    }
}


.desktop-bg {
    height: 100vh;
    width: 30.125rem;
    background-image: url(/images/bg-main-desktop.png);


    @include breakpoint-down(medium){
        width: 12rem;
    }

}

.bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
}

.card-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.mobile-bg {
    height: 35%;
    width: 100%;
    background-image: url(/images/bg-main-mobile.png);
}

.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}

.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}

.col {
    width: 40%;

    @include breakpoint-down(large){
        width: 45%;
    }

    @include breakpoint-down(medium){
        width: 100%;
    }

    @include breakpoint-down(small){
        width: 100%;
    }
}

.bank-card {
    width: 27.875rem;
    height: 15.25rem;
    border-radius: 1rem;


    @include breakpoint-down(large){
        width: 100%;
    }

    @include breakpoint-down(medium){
        width: 17.75rem;
        height: 9.75rem;
    }

}

.cta {
    width: 23.875rem;
    height: 3rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: $white;
    background: $veryDarkViolet;

    @include breakpoint-down(small){
        width: 100%;
    }
}

small{
    font-size: 0.75rem;
    // margin-top: .3rem;
    color: $red;
    visibility: hidden;
}

.input.error input {  
    border: 2px solid hsl(0, 100%, 74%); 
}

.input.error small {  
    visibility: visible;
}

.hide {
    display: none;
}

.active {
    display: block;
}

.month {
    width: 45%;

}

.expiry {
    gap: 2rem;
}

.input.error input {
    border: 2px solid $red;   
}

.input.success input {  
    border: 2px solid $linearGradient1;  
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    margin-bottom: 1.5rem;
    width: 23.875rem;

    @include breakpoint-down(small){
        width: 100%;
    }
}




