
$white: hsl(0, 0%, 100%);
$lightGrayish: hsl(270, 3%, 87%);
$darkGrayish: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
$red: hsl(0, 100%, 66%);
$linearGradient1: hsl(249, 99%, 64%);
$linearGradient2: hsl(278, 94%, 30%);


$font-nm: 1rem;
$bodyFont: 1.125rem;